.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 20px auto 0 auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input img {
    margin: 0 15px;
    height: 22px;
    width: 22px;
}

.text {
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.inputs {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 50px;
    background-color: #dedddd;
    border-radius: 7px;
    padding: 0 15px;
    box-sizing: border-box;
}

.input input {
    flex: 1;
    height: 100%;
    border-radius: 7px;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: large;
    padding: 0 10px;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 7rem;
    border-radius: 30px;
    background-color: #650381;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #7a05a5;
}

#final {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 7rem;
    border-radius: 30px;
    background-color: #2068bf;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#final:hover {
    background-color: #4c8ddd;
}

.gray {
    background-color: #807d7d;
    color: #000;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        margin: 50px 20px 0 20px;
        width: calc(100% - 40px);
    }

    .input img {
        margin: 0 10px;
        height: 20px;
        width: 20px;
    }

    .text {
        font-size: 24px;
    }

    .input {
        max-width: 100%;
    }

    .submit, #final {
        height: 2.5rem;
        width: 6rem;
        font-size: 16px;
    }
}
